@media (max-width: 768px) {

    .cta {
        max-width: 10rem;
    }

    .icons {
        display: none;
    }

    .home {
        flex-direction: column;
    }

    .img-home {
        background-size: cover !important;
        max-width: 100vw !important;
        
    }

    .central {
        align-items: center;
        justify-content: center;
    }

    .subtitulo-home {
        font-size: 1.1rem;
    }

    .titulo-home {
        text-align: center;
        font-size: 1.4em;
        line-height: 1.9rem;
    }

    .footer {
        flex-direction: column;
    }

    .logofooter {
        display: none;
    }

    .button-home {
        max-width: 20rem;
    }

    .titulo-sobre {
        max-width: 20rem;
    }

    .texto-sobre {
        line-height: 1.4;
        max-width: 90vw;
    }

    .servicos {
        margin-top: 8%;
        margin-bottom: 8%;
    }

    .servicos-flex {
        display: flex;
        flex-direction: column;
        max-width: 90vw;
        margin: 0 auto;
        align-items: center;
        gap: 5rem;
    }

    .contato-flex {
        display: flex;
        flex-direction: column;
        padding: 5%;
        max-width: 90%;
        gap: 3rem;
    }

    .texto-contato {
        margin: 0 auto;
        font-size: 1.1rem;
        
    }

    .email-contato {
        max-width: 90vw;
    }

    .expanded {
        font-size: .9rem;
    }

    .texto-expanded {
        max-width: 90vw;
    }

    .icons-expanded {
        width: 60px;
        height: 60px;
    }
    
    
    @supports (backdrop-filter: blur()) {
    .lista {
        background-color: hsl(0, 0%, 100%, 0.3);
        backdrop-filter: blur(0.8rem);
        }
    }
}


